<div class="container">
  <div class='col-12'>
    <h1 class='mt-5'><%= @cocktail.name %></h1>
    <ul class='mt-5'>
      <strong>Doses:</strong>
      <% @cocktail.doses.each do | dose | %>
      <li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to '', dose_path(dose), class: "fas fa-trash", method: :delete, data: { confirm: 'Are you sure?'} %></li>
      <% end %>
    </ul>
  </div>

  <div class='col-12'>
    <%= render 'doses/new', dose: @dose %>
    <br>
    <br>
    <br>
    <%= link_to 'Back', cocktails_path, class: "btn-back" %>
  </div>

</div>
